<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Livro</title>
</head>
<body>
  <h1>Criar Livro</h1> 
  <a href="/livros">Voltar para Lista de Livros</a>
  <form action="/livros" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required>
    <br>
    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required>
    <br>
    <button type="submit">Adicionar Livro</button>
  </form>
</body>
</html>