<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Livros</title>
</head>

<body>
  <h1>Lista de Livros</h1>
  <a href="/livros/criar">Adicionar Novo Livro</a>
  <ul>
    <% livros.forEach(livro=> { %>
      <li>
        <%= livro.titulo %> - <%= livro.autor %> <a href="/livros/<%= livro.id %>/editar">Editar</a>
      </li>
      <% }); %>
  </ul>
</body>

</html>