<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
<<<<<<< HEAD
  <h1><%= title %></h1>
  <a href="/livros">Livros</a>
  <a href="/livros/criar">Adicionar Livros</a>
=======
  <a href="/livros">Livros</a>
>>>>>>> b753ad3b4af17f0cf6f08b30858b4e085762dd8a
</body>
</html>